In [1]:
# ANSWWER-1)
# MongoDB is an open-source document-oriented database that is designed to store a large scale of data and also allows you to work with that data very efficiently. It is categorized under the NoSQL (Not only SQL) database because the storage and retrieval of data in the MongoDB are not in the form of tables.
# Non-relational databases
# NoSQL Database is a non-relational Data Management System, that does not require a fixed schema.
# It avoids joins, and is easy to scale.
# The major purpose of using a NoSQL database is for distributed data stores with humongous data storage needs.
# NoSQL is used for Big data and real-time web apps.
# For example, companies like Twitter, Facebook and Google collect terabytes of user data every single day.

# MongoDB over SQL databases
# MongoDB is highly and easily scalable
# Maintaining NoSQL Servers is Less Expensive
# No Schema or Fixed Data model

In [2]:
# ANSWER-2)
# Features of MongoDB
# -Sharding
# -Indexing
# -Replication
# -Document-Oriented
# -High performance
# -Ad-hoc Queries
# -Schema-Less Database

In [21]:
# ANSWER-3)
import pymongo

In [22]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [23]:
client = pymongo.MongoClient("mongodb+srv://vishalgond:Vishal9026@cluster0.r8tqomy.mongodb.net/?retryWrites=true&w=majority")
db = client['School']
coll = db['Top_school']

In [24]:
data = {"school":"sarvodaya public school",
       "address":"RTO harbanshpur",
       "board":"cbse and up board"
       }
coll.insert_one(data)

In [25]:
data1 =[
    {"school":"sarvodaya public school",
       "address":"RTO harbanshpur",
       "board":"cbse and up board"
    },
    
    {"scholl":"joyti nikatan school",
     "address":"atlas",
     "board":"ICSE"},
    
    {"school":"cental public scholl",
     "address":"jafarpur",
     "board":"cbse"},
]
coll.insert_many(data1)

In [26]:
for i in coll.find():
    print(i)

{'_id': ObjectId('6409d878167d02692918fd07'), 'school': 'sarvodaya public scholl', 'address': 'RTO harbanshpur', 'board': 'cbse and up board'}
{'_id': ObjectId('6409da93167d02692918fd08'), 'school': 'sarvodaya public scholl', 'address': 'RTO harbanshpur', 'board': 'cbse and up board'}
{'_id': ObjectId('6409da93167d02692918fd09'), 'scholl': 'joyti nikatan school', 'address': 'atlas', 'board': 'ICSE'}
{'_id': ObjectId('6409da93167d02692918fd0a'), 'school': 'cental public scholl', 'address': 'jafarpur', 'board': 'cbse'}
{'_id': ObjectId('6409dcb9167d02692918fd0c'), 'school': 'sarvodaya public school', 'address': 'RTO harbanshpur', 'board': 'cbse and up board'}
{'_id': ObjectId('6409dcc1167d02692918fd0d'), 'school': 'sarvodaya public school', 'address': 'RTO harbanshpur', 'board': 'cbse and up board'}
{'_id': ObjectId('6409dcc1167d02692918fd0e'), 'scholl': 'joyti nikatan school', 'address': 'atlas', 'board': 'ICSE'}
{'_id': ObjectId('6409dcc1167d02692918fd0f'), 'school': 'cental public scholl', 'address': 'jafarpur', 'board': 'cbse'}

In [27]:
coll.find_one()

{'_id': ObjectId('6409d878167d02692918fd07'),
 'school': 'sarvodaya public scholl',
 'address': 'RTO harbanshpur',
 'board': 'cbse and up board'}

In [28]:
# ANSWQER-5)
# In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.
# query: This is an optional parameter that defines the selection criteria. In simple words, it defines a query as what you want to find in a collection.
# projection: This is an optional parameter that defines what to return if the query criteria are met successfully. In simple words, it is a type of decision-making that decides on criteria .
for i in coll.find({"school":"sarvodaya public school"}):
    print(i)

{'_id': ObjectId('6409dcb9167d02692918fd0c'), 'school': 'sarvodaya public school', 'address': 'RTO harbanshpur', 'board': 'cbse and up board'}
{'_id': ObjectId('6409dcc1167d02692918fd0d'), 'school': 'sarvodaya public school', 'address': 'RTO harbanshpur', 'board': 'cbse and up board'}

In [34]:
# ANSWER-6)
# The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database.

# db.Collection_Name.sort({filed_name:1 or -1})
# The value is 1 or -1 that specifies an ascending or descending sort respectively.
# db.student.find().sort({age:1})

In [35]:
# ANSWER-7)
delete_one()

delete the first documents that match with the specified filter criteria in a collection.
# db.collection.deleteOne(filter, options)

db.employees.deleteOne({ salary:7000 }) 
deleteMany()

delete all the documents that match with the specified filter criteria in a collection.
# db.collection.deleteMany(filter, options)
db.employees.deleteMany({ salary:7000 })
drop()

used to drop a collection from the database.
# db.collection.drop()
db.employees.drop()